<a href="https://colab.research.google.com/github/manishgurungxon/MachineLearningPy/blob/main/MachineLearningwithpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Preprocessing
The phas where the datasets are cleaned, transformed and reduced before feeding it to the Machine. 
Concepts in Machine Learning:
1. Import Python Libraries
a. Pandas
b. Numpy
c. Matplotlib + seaborn
d. Scikit-learn
e. Tensorflow
f. Theano
g. Scipy
2. Import Dataset
a. read_csv
b. read_json
c. url
3. Divide data into independent and Dependent
*   X ( Independent )
*   Y ( Dependent )
4. Missing Data
*   Mean
*   Median
*   Constant
*   Most Frequent
5. Categorical Data
*   OneHotEncoder
*   LabelEncoder
6. Splitting Data into Train and Test model
a. Train(75-90%)
b. Test(10-25%)
7. Feature Scaling
a. StandardScaler(Normalization)

In [1]:
#import libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as pyplot

In [3]:
df = pd.read_csv('Data.csv')

In [4]:
df

,Country,Confirmed_Cases,Suspected_Cases,Hospitalized,Travel_History_Yes,Travel_History_No
0,England,3412.0,0.0,5.0,2.0,7.0
1,Portugal,908.0,0.0,0.0,0.0,34.0
2,Spain,7083.0,0.0,13.0,2.0,0.0
3,United States,24403.0,0.0,4.0,41.0,11.0
4,Canada,1388.0,12.0,1.0,5.0,0.0
...,...,...,...,...,...,...
124,Central African Republic,8.0,9.0,0.0,0.0,0.0
125,Republic of Congo,3.0,5.0,0.0,0.0,0.0
126,Cameroon,7.0,27.0,0.0,0.0,0.0
127,Liberia,2.0,0.0,0.0,0.0,0.0
128,Sierra Leone,0.0,2.0,0.0,0.0,0.0

In [27]:
# Divide the data into Independent and Dependent

X = df.iloc[:,0:-2].values
Y = df.iloc[:,-2:].values

In [28]:
print(X)

[['England' 3412.0 0.0 5.0]
 ['Portugal' 908.0 0.0 0.0]
 ['Spain' 7083.0 0.0 13.0]
 ['United States' 24403.0 0.0 4.0]
 ['Canada' 1388.0 12.0 1.0]
 ['Sweden' 186.0 0.0 0.0]
 ['Italy' 837.0 0.0 18.0]
 ['France' 3934.0 0.0 1.0]
 ['Belgium' 757.0 0.0 2.0]
 ['Australia' 132.0 0.0 2.0]
 ['Germany' 3590.0 0.0 18.0]
 ['Netherlands' 1221.0 0.0 0.0]
 ['Israel' 250.0 0.0 3.0]
 ['Switzerland' 503.0 0.0 0.0]
 ['Greece' 72.0 0.0 2.0]
 ['Austria' 304.0 0.0 2.0]
 ['Argentina' 326.0 0.0 0.0]
 ['Denmark' 183.0 0.0 0.0]
 ['Morocco' 3.0 0.0 0.0]
 ['Slovenia' 46.0 0.0 0.0]
 ['Scotland' 93.0 0.0 1.0]
 ['Czech Republic' 66.0 0.0 1.0]
 ['United Arab Emirates' 16.0 0.0 0.0]
 ['Finland' 33.0 0.0 0.0]
 ['Wales' 46.0 0.0 0.0]
 ['Northern Ireland' 34.0 0.0 0.0]
 ['Sudan' 6.0 1.0 0.0]
 ['Bolivia' 155.0 0.0 5.0]
 ['Iran' 1.0 3.0 0.0]
 ['Ecuador' 93.0 1.0 2.0]
 ['Malta' 33.0 0.0 0.0]
 ['Ireland' 178.0 0.0 0.0]
 ['Mexico' 1367.0 0.0 0.0]
 ['Pakistan' 0.0 1.0 1.0]
 ['French Guiana' 0.0 0.0 0.0]
 ['Thailand' 8.0 0.0 4.0]
 ['Peru' 2251.0 0.0 2.0]
 ['Brazil' 7300.0 0.0 4.0]
 ['Malaysia' 0.0 0.0 0.0]
 ['Hungary' 77.0 0.0 0.0]
 ['Norway' 90.0 0.0 0.0]
 ['Paraguay' 1.0 0.0 0.0]
 ['Costa Rica' 4.0 2.0 1.0]
 ['Gibraltar' 6.0 0.0 1.0]
 ['Mauritius' 0.0 0.0 0.0]
 ['Haiti' 0.0 0.0 0.0]
 ['Uruguay' 6.0 0.0 0.0]
 ['Latvia' 5.0 0.0 0.0]
 ['Cayman Islands' 0.0 1.0 0.0]
 ['Kosovo' 0.0 0.0 1.0]
 ['Turkey' 11.0 0.0 0.0]
 ['Bahamas' 2.0 0.0 0.0]
 ['Ghana' 84.0 317.0 1.0]
 ['India' 12.0 0.0 4.0]
 ['Iceland' 12.0 0.0 0.0]
 ['Poland' 173.0 0.0 1.0]
 ['Bangladesh' 0.0 0.0 0.0]
 ['Uganda' 0.0 6.0 0.0]
 ['Cambodia' 0.0 0.0 0.0]
 ['Malawi' 0.0 0.0 0.0]
 ['Venezuela' 5.0 0.0 0.0]
 ['Romania' 39.0 0.0 7.0]
 ['Georgia' 2.0 0.0 0.0]
 ['Slovakia' 14.0 0.0 2.0]
 ['Luxembourg' 55.0 0.0 0.0]
 ['Nepal' 0.0 0.0 1.0]
 ['Chile' 783.0 2.0 2.0]
 ['Serbia' 40.0 0.0 0.0]
 ['Lebanon' 11.0 0.0 0.0]
 ['South Korea' 2.0 0.0 2.0]
 ['Singapore' 19.0 0.0 8.0]
 ['South Africa' 5.0 0.0 0.0]
 ['Taiwan' 3.0 0.0 1.0]
 ['Colombia' 1653.0 0.0 0.0]
 ['Croatia' 29.0 0.0 0.0]
 ['Bulgaria' 6.0 0.0 1.0]
 ['Somalia' 0.0 3.0 3.0]
 ['Zambia' 0.0 1.0 0.0]
 ['Fiji' 0.0 0.0 0.0]
 ['Benin' 3.0 0.0 0.0]
 ['Estonia' 11.0 0.0 0.0]
 ['Puerto Rico' 173.0 0.0 0.0]
 ['Panama' 13.0 0.0 0.0]
 ['Dominican Republic' 31.0 1.0 5.0]
 ['Jamaica' 13.0 0.0 0.0]
 ['New Zealand' 5.0 0.0 0.0]
 ['Russia' 2.0 0.0 1.0]
 ['Bosnia And Herzegovina' 3.0 0.0 0.0]
 ['Saudi Arabia' 8.0 0.0 1.0]
 ['Martinique' 7.0 0.0 0.0]
 ['Barbados' 1.0 0.0 0.0]
 ['Qatar' 5.0 0.0 1.0]
 ['Bermuda' 1.0 0.0 0.0]
 ['Japan' 4.0 0.0 4.0]
 ['Guadeloupe' 1.0 0.0 0.0]
 ['Andorra' 4.0 0.0 0.0]
 ['New Caledonia' 1.0 0.0 0.0]
 ['China' 1.0 0.0 0.0]
 ['Philippines' 4.0 0.0 1.0]
 ['Montenegro' 2.0 0.0 0.0]
 ['Cyprus' 5.0 0.0 3.0]
 ['Lithuania' 5.0 0.0 0.0]
 ['Guatemala' 15.0 0.0 0.0]
 ['Saint Martin (French part)' 1.0 0.0 0.0]
 ['Greenland' 2.0 0.0 0.0]
 ['Moldova' 2.0 0.0 1.0]
 ['Honduras' 6.0 0.0 0.0]
 ['Monaco' 3.0 0.0 0.0]
 ['Indonesia' 1.0 0.0 0.0]
 ['Curaçao' 3.0 0.0 0.0]
 ['Aruba' 3.0 0.0 0.0]
 ['Cuba' 2.0 0.0 2.0]
 ['Guyana' 2.0 0.0 2.0]
 ['El Salvador' 4.0 0.0 0.0]
 ['Belize' 0.0 0.0 0.0]
 ['Hong Kong' 1.0 0.0 1.0]
 ['South Sudan' 2.0 0.0 0.0]
 ['Egypt' 1.0 0.0 1.0]
 ['Jordan' 1.0 0.0 0.0]
 ['Guam' 1.0 0.0 0.0]
 ['Ukraine' 2.0 0.0 1.0]
 ['Bahrain' 1.0 0.0 0.0]
 ['Nigeria' 277.0 427.0 0.0]
 ['Democratic Republic Of The Congo' 195.0 2852.0 0.0]
 ['Central African Republic' 8.0 9.0 0.0]
 ['Republic of Congo' 3.0 5.0 0.0]
 ['Cameroon' 7.0 27.0 0.0]
 ['Liberia' 2.0 0.0 0.0]
 ['Sierra Leone' 0.0 2.0 0.0]]

In [29]:
print(Y)

[[ 2.  7.]
 [ 0. 34.]
 [ 2.  0.]
 [41. 11.]
 [ 5.  0.]
 [ 0.  0.]
 [19.  4.]
 [ 2.  1.]
 [ 1.  0.]
 [ 9.  0.]
 [19. 16.]
 [ 1.  0.]
 [ 5.  0.]
 [ 3.  0.]
 [ 2.  0.]
 [ 1.  0.]
 [11.  1.]
 [ 3.  1.]
 [ 1.  0.]
 [ 2.  0.]
 [ 1.  0.]
 [ 6.  0.]
 [ 1.  0.]
 [ 3.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 2.  1.]
 [ 0.  0.]
 [ 1.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 3.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 5.  0.]
 [ 2.  0.]
 [20.  4.]
 [ 0.  0.]
 [ 0.  0.]
 [ 3.  0.]
 [ 2.  0.]
 [ 4.  0.]
 [ 0.  0.]
 [ 2.  1.]
 [ 0.  0.]
 [ 5.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 4.  1.]
 [ 1.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 3.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 3.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 2.  0.]
 [ 0.  0.]
 [ 4.  0.]
 [ 1.  0.]
 [ 4.  0.]
 [ 3.  2.]
 [ 3.  0.]
 [ 3.  0.]
 [ 1.  0.]
 [ 3.  0.]
 [ 1.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 2.  1.]
 [ 1.  0.]
 [ 6.  0.]
 [ 3.  0.]
 [ 1.  0.]
 [ 2.  4.]
 [ 4.  0.]
 [ 2.  0.]
 [ 0.  0.]
 [ 3.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 3.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 3.  1.]
 [ 0.  0.]
 [ 2.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 2.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 1.  0.]
 [ 1.  0.]
 [ 0.  1.]
 [ 1.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]
 [ 0.  0.]]

In [23]:
#Mean
(df.Confirmed_Cases.sum())/129

505.5426356589147

In [24]:
(df.Travel_History_Yes.sum())/129

2.124031007751938

In [25]:
(df.Travel_History_No.sum())/129

0.7054263565891473

In [ ]:
# Missing Data
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#Link for sklearn.impute.SimpleImputer 
#https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html
imputer.fit(X[:,1:4])
X[:,1:4] = imputer.transform(X[:,1:4])
X

In [40]:
#Categorical Data
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder 
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
Y = ct.fit_transform(Y)

In [43]:
X.shape()

TypeError: ignored

In [41]:
# Splitting to train and test

from sklearn.model_selection import train_test_split
test_labels = train_test_split (X,Y, test_size = 0.8, random_state = 0)

TypeError: ignored