<a href="https://colab.research.google.com/github/manishgurungxon/MachineLearningPy/blob/main/MachineLearningwithpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Preprocessing
The phas where the datasets are cleaned, transformed and reduced before feeding it to the Machine. 
Concepts in Machine Learning:
1. Import Python Libraries
a. Pandas
b. Numpy
c. Matplotlib + seaborn
d. Scikit-learn
e. Tensorflow
f. Theano
g. Scipy
2. Import Dataset
a. read_csv
b. read_json
c. url
3. Divide data into independent and Dependent
*   X ( Independent )
*   Y ( Dependent )
4. Missing Data
*   Mean
*   Median
*   Constant
*   Most Frequent
5. Categorical Data
*   OneHotEncoder
*   LabelEncoder
6. Splitting Data into Train and Test model
a. Train(75-90%)
b. Test(10-25%)
7. Feature Scaling
a. StandardScaler(Normalization)

In [1]:
#import libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as pyplot

In [3]:
df = pd.read_csv('Data.csv')

In [4]:
df

,Country,Confirmed_Cases,Suspected_Cases,Hospitalized,Travel_History_Yes,Travel_History_No
0,England,3412.0,0.0,5.0,2.0,7.0
1,Portugal,908.0,0.0,0.0,0.0,34.0
2,Spain,7083.0,0.0,13.0,2.0,0.0
3,United States,24403.0,0.0,4.0,41.0,11.0
4,Canada,1388.0,12.0,1.0,5.0,0.0
...,...,...,...,...,...,...
124,Central African Republic,8.0,9.0,0.0,0.0,0.0
125,Republic of Congo,3.0,5.0,0.0,0.0,0.0
126,Cameroon,7.0,27.0,0.0,0.0,0.0
127,Liberia,2.0,0.0,0.0,0.0,0.0
128,Sierra Leone,0.0,2.0,0.0,0.0,0.0