<a href="https://colab.research.google.com/github/manishgurungxon/MachineLearningPy/blob/main/pythonpandasMergingandgrouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

In [3]:
users = pd.read_table(url, sep='|', index_col='user_id')

In [4]:
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [5]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [6]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [ ]:
users.groupby(['occupation','gender']).agg

In [7]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [8]:
df.loc[:, "shield"]

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

In [ ]:
#exercises

In [9]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [10]:
df_rawdata = pd.DataFrame(raw_data, columns=raw_data.keys())

In [11]:
df_rawdata

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [15]:
company_data = df_rawdata.groupby("company").groups

In [32]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [33]:
drinks.groupby(["country", "total_litres_of_pure_alcohol"]).describe()

                                         beer_servings                    \
                                                 count   mean std    min
country     total_litres_of_pure_alcohol
Afghanistan 0.0                                    1.0    0.0 NaN    0.0
Albania     4.9                                    1.0   89.0 NaN   89.0
Algeria     0.7                                    1.0   25.0 NaN   25.0
Andorra     12.4                                   1.0  245.0 NaN  245.0
Angola      5.9                                    1.0  217.0 NaN  217.0
...                                                ...    ...  ..    ...
Venezuela   7.7                                    1.0  333.0 NaN  333.0
Vietnam     2.0                                    1.0  111.0 NaN  111.0
Yemen       0.1                                    1.0    6.0 NaN    6.0
Zambia      2.5                                    1.0   32.0 NaN   32.0
Zimbabwe    4.7                                    1.0   64.0 NaN   64.0

                                                                      \
                                            25%    50%    75%    max
country     total_litres_of_pure_alcohol
Afghanistan 0.0                             0.0    0.0    0.0    0.0
Albania     4.9                            89.0   89.0   89.0   89.0
Algeria     0.7                            25.0   25.0   25.0   25.0
Andorra     12.4                          245.0  245.0  245.0  245.0
Angola      5.9                           217.0  217.0  217.0  217.0
...                                         ...    ...    ...    ...
Venezuela   7.7                           333.0  333.0  333.0  333.0
Vietnam     2.0                           111.0  111.0  111.0  111.0
Yemen       0.1                             6.0    6.0    6.0    6.0
Zambia      2.5                            32.0   32.0   32.0   32.0
Zimbabwe    4.7                            64.0   64.0   64.0   64.0

                                         spirit_servings         ...         \
                                                   count   mean  ...    75%
country     total_litres_of_pure_alcohol                         ...
Afghanistan 0.0                                      1.0    0.0  ...    0.0
Albania     4.9                                      1.0  132.0  ...  132.0
Algeria     0.7                                      1.0    0.0  ...    0.0
Andorra     12.4                                     1.0  138.0  ...  138.0
Angola      5.9                                      1.0   57.0  ...   57.0
...                                                  ...    ...  ...    ...
Venezuela   7.7                                      1.0  100.0  ...  100.0
Vietnam     2.0                                      1.0    2.0  ...    2.0
Yemen       0.1                                      1.0    0.0  ...    0.0
Zambia      2.5                                      1.0   19.0  ...   19.0
Zimbabwe    4.7                                      1.0   18.0  ...   18.0

                                                wine_servings             \
                                            max         count   mean std
country     total_litres_of_pure_alcohol
Afghanistan 0.0                             0.0           1.0    0.0 NaN
Albania     4.9                           132.0           1.0   54.0 NaN
Algeria     0.7                             0.0           1.0   14.0 NaN
Andorra     12.4                          138.0           1.0  312.0 NaN
Angola      5.9                            57.0           1.0   45.0 NaN
...                                         ...           ...    ...  ..
Venezuela   7.7                           100.0           1.0    3.0 NaN
Vietnam     2.0                             2.0           1.0    1.0 NaN
Yemen       0.1                             0.0           1.0    0.0 NaN
Zambia      2.5                            19.0           1.0    4.0 NaN
Zimbabwe    4.7                            18.0           1.0    4.0 NaN


                                            min    25%    50%    75%    max
country     total_litres_of_pure_alcohol
Afghanistan 0.0                             0.0    0.0    0.0    0.0    0.0
Albania     4.9                            54.0   54.0   54.0   54.0   54.0
Algeria     0.7                            14.0   14.0   14.0   14.0   14.0
Andorra     12.4                          312.0  312.0  312.0  312.0  312.0
Angola      5.9                            45.0   45.0   45.0   45.0   45.0
...                                         ...    ...    ...    ...    ...
Venezuela   7.7                             3.0    3.0    3.0    3.0    3.0
Vietnam     2.0                             1.0    1.0    1.0    1.0    1.0
Yemen       0.1                             0.0    0.0    0.0    0.0    0.0
Zambia      2.5                             4.0    4.0    4.0    4.0    4.0
Zimbabwe    4.7                             4.0    4.0    4.0    4.0    4.0

[193 rows x 24 columns]

Warning: Total number of columns (24) exceeds max_columns (20) limiting to first (20) columns.

In [44]:
drinks.groupby(["country","continent"]).total_litres_of_pure_alcohol.mean()

country      continent
Afghanistan  AS            0.0
Albania      EU            4.9
Algeria      AF            0.7
Andorra      EU           12.4
Angola       AF            5.9
                          ...
Venezuela    SA            7.7
Vietnam      AS            2.0
Yemen        AS            0.1
Zambia       AF            2.5
Zimbabwe     AF            4.7
Name: total_litres_of_pure_alcohol, Length: 170, dtype: float64

In [48]:
drinks.groupby(["country","continent"]).total_litres_of_pure_alcohol.max()

country      continent
Afghanistan  AS            0.0
Albania      EU            4.9
Algeria      AF            0.7
Andorra      EU           12.4
Angola       AF            5.9
                          ...
Venezuela    SA            7.7
Vietnam      AS            2.0
Yemen        AS            0.1
Zambia       AF            2.5
Zimbabwe     AF            4.7
Name: total_litres_of_pure_alcohol, Length: 170, dtype: float64

In [49]:
drinks.groupby(["country","continent"]).total_litres_of_pure_alcohol.max().unstack()

continent     AF   AS    EU  OC   SA
country
Afghanistan  NaN  0.0   NaN NaN  NaN
Albania      NaN  NaN   4.9 NaN  NaN
Algeria      0.7  NaN   NaN NaN  NaN
Andorra      NaN  NaN  12.4 NaN  NaN
Angola       5.9  NaN   NaN NaN  NaN
...          ...  ...   ...  ..  ...
Venezuela    NaN  NaN   NaN NaN  7.7
Vietnam      NaN  2.0   NaN NaN  NaN
Yemen        NaN  0.1   NaN NaN  NaN
Zambia       2.5  NaN   NaN NaN  NaN
Zimbabwe     4.7  NaN   NaN NaN  NaN

[170 rows x 5 columns]

In [45]:
drinks.groupby(["country","continent"]).total_litres_of_pure_alcohol.mean().unstack()

continent     AF   AS    EU  OC   SA
country
Afghanistan  NaN  0.0   NaN NaN  NaN
Albania      NaN  NaN   4.9 NaN  NaN
Algeria      0.7  NaN   NaN NaN  NaN
Andorra      NaN  NaN  12.4 NaN  NaN
Angola       5.9  NaN   NaN NaN  NaN
...          ...  ...   ...  ..  ...
Venezuela    NaN  NaN   NaN NaN  7.7
Vietnam      NaN  2.0   NaN NaN  NaN
Yemen        NaN  0.1   NaN NaN  NaN
Zambia       2.5  NaN   NaN NaN  NaN
Zimbabwe     4.7  NaN   NaN NaN  NaN

[170 rows x 5 columns]

In [46]:
drinks_result1 = drinks.groupby(["country","continent"]).total_litres_of_pure_alcohol.mean().unstack()

In [47]:
drinks_result1.dropna()

Empty DataFrame
Columns: [AF, AS, EU, OC, SA]
Index: []

In [39]:
drinks.groupby(["country","continent","total_litres_of_pure_alcohol"]).count().unstack()

                             beer_servings                                     \
total_litres_of_pure_alcohol          0.0  4.9  0.7  12.4 5.9  8.3  3.8  10.4
country     continent
Afghanistan AS                         1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Albania     EU                         NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN
Algeria     AF                         NaN  NaN  1.0  NaN  NaN  NaN  NaN  NaN
Andorra     EU                         NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN
Angola      AF                         NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN
...                                    ...  ...  ...  ...  ...  ...  ...  ...
Venezuela   SA                         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Vietnam     AS                         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Yemen       AS                         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Zambia      AF                         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Zimbabwe    AF                         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

                                        ... wine_servings                      \
total_litres_of_pure_alcohol 9.7  1.3   ...          4.1  10.6 1.2  9.8  5.6
country     continent                   ...
Afghanistan AS                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
Albania     EU                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
Algeria     AF                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
Andorra     EU                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
Angola      AF                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
...                           ...  ...  ...           ...  ...  ...  ...  ...
Venezuela   SA                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
Vietnam     AS                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
Yemen       AS                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
Zambia      AF                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN
Zimbabwe    AF                NaN  NaN  ...           NaN  NaN  NaN  NaN  NaN


total_litres_of_pure_alcohol 4.7  5.7  6.4  1.4  7.7
country     continent
Afghanistan AS                NaN  NaN  NaN  NaN  NaN
Albania     EU                NaN  NaN  NaN  NaN  NaN
Algeria     AF                NaN  NaN  NaN  NaN  NaN
Andorra     EU                NaN  NaN  NaN  NaN  NaN
Angola      AF                NaN  NaN  NaN  NaN  NaN
...                           ...  ...  ...  ...  ...
Venezuela   SA                NaN  NaN  NaN  NaN  1.0
Vietnam     AS                NaN  NaN  NaN  NaN  NaN
Yemen       AS                NaN  NaN  NaN  NaN  NaN
Zambia      AF                NaN  NaN  NaN  NaN  NaN
Zimbabwe    AF                1.0  NaN  NaN  NaN  NaN

[170 rows x 246 columns]

In [40]:
result1 = drinks.groupby(["country","continent","total_litres_of_pure_alcohol"]).count().unstack()